{% extends 'base.html.twig' %}

{% block contenido %} 
    
{% include "default/bannerMensaje.html.twig" with { 'mensaje' : 'Mi Carrito de Compras'} %}
    
{% include "default/alertasFlash.html.twig" %}

<!-- Carrito de Compras -->
<div class="row">
<ul class="collection with-header">
    <li class="collection-header white-text"><strong><i class="material-icons left">shopping_cart</i>Mis Productos</strong></li>
    

    {# Si el carrito tiene productos los muestros #}    
    {% if carrito.getProductosCarrito()|length > 0 %}        
        <table>
        <thead class="grey white-text">
         <tr>
         <td><strong>Producto</strong></td>
         <td><strong>Codigo</strong></td>
         <td><strong>Precio Unitario</strong></td>
         <td><strong>Cantidad</strong></td>         
         <td></td>
         <td><strong>Monto</strong></td>
         </tr>
        </thead>
        <tbody>
        {% for productoCarrito in carrito.getProductosCarrito() %} 
        <tr class="grey lighten-4">
         <td><strong><i class="material-icons left">add_shopping_cart</i>{{ productoCarrito.producto.nombre }}</strong></td>
         <td>{{ productoCarrito.producto.codigo }}</td>
         <td>${{ productoCarrito.producto.precio }}</td>
         <td>{{ productoCarrito.cantidad }}</td>            
            
            <td>
            {# Sumar Producto #}
            <form method="post" action="{{ path('carrito_agregar') }}">
             <input id="productoId" name="productoId" type="hidden" value="{{ productoCarrito.producto.id }}">
             <input id="productoCarritoId" name="productoCarritoId" type="hidden" value="{{ productoCarrito.id }}" class="validate">
             <button type="submit" class="btn-floating btn-small waves-effect waves-light"><i class="material-icons" title="Sumar Unidad">add_shopping_cart</i></a></button>
            </form>
            {# Sumar Producto #}
            {# Restar Producto #}
            <form method="post" action="{{ path('carrito_quitar') }}">
             <input id="productoId" name="productoId" type="hidden" value="{{ productoCarrito.producto.id }}">
             <input id="productoCarritoId" name="productoCarritoId" type="hidden" value="{{ productoCarrito.id }}" class="validate">
             <button type="submit" class="btn-floating btn-small waves-effect waves-light"><i class="material-icons" title="Quitar Unidad">remove_shopping_cart</i></a></button>
            </form>
            {# Restar Producto #}
            </td>
        
         <td>${{ productoCarrito.getMonto() }}</td>         
        </tr>        
        {% endfor %}
        </tbody>
        </table>

    {% else %}
     <li class="collection-item"><strong><i class="material-icons left">shopping_cart</i>El carrito de compras esta vacio</strong></li>
    {% endif %}
    
    {# Si el carrito tiene productos los muestros #}


    <li class="collection-header white-text">
        <div>
             <strong><i class="material-icons left">attach_money</i>TOTAL</strong>
             <div class="secondary-content white-text">${{ carrito.getMontoTotal() }}</div>
        </div>
    </li>
</ul>
</div>
<!-- Carrito de Compras -->


<!-- Botones de Direccionamiento -->
<div class="offset-s2 col s8 offset-s2">
    <center>        
        <a href="{{ path('venta_nueva') }}" class="waves-effect waves-light btn colorOficial white-text">
         <i class="material-icons left">shop</i>Comprar 
        </a> 
        <a href="{{ path('index') }}" class="waves-effect waves-light btn colorOficial white-text">
         <i class="material-icons left">home</i>Volver al Home
        </a> 
    </center>
</div>
<!-- Botones de Direccionamiento -->

{% endblock %}

