<!-- Ventas del Usuario -->
  <ul class="collection with-header">
    <li class="collection-header white-text"><strong><i class="material-icons left">shopping_cart</i>Mis Compras</strong></li>
    {% if ventas|length > 0 %} 
      <table class="highlight">
        <thead class="grey white-text">
         <tr>
         <td><strong>Fecha</strong></td>
         <td><strong>Monto</strong></td>
         <td><strong>Estado</strong></td> 
         <td><strong>Pago de la Compra</strong></td>  
         <td><strong>Acciones</strong></td>         
         </tr>
        </thead>
        <tbody>
         {% for venta in ventas %}
         <tr class="grey lighten-4">
         <td>{{ venta.fecha|date("d/m/Y") }}</td>
         <td>${{ venta.precio }}</td>
         <td>{{ venta.estado }}</td>
         <td><strong>PENDIENTE</strong></td>
            <td>
             <a href="{{ path('venta_ver',{'idVenta': venta.id}) }}" class="btn-floating btn-small waves-effect waves-light teal lighten-2 white-text" title="Ver"><i class="material-icons">visibility</i></a>  
            </td>                       
        </tr>   
         {% endfor %}
        </tbody>
      </table>
     <li class="collection-header"><strong>Total de Compras</strong> <div class="secondary-content white-text"><strong>{{ ventas|length }} </strong></div></li>   
    {% else %}
     <li class="collection-item"><strong><i class="material-icons left">shopping_cart</i>No hay compras registradas en el sistema</strong></li>
    {% endif %}
  </ul> 


  <!-- Ventas del Usuario -->