<!-- Datos de la Venta -->
<ul class="collection with-header">   
 <li class="collection-header"><h5>Venta</h5></li>          
 <li class="collection-item"><strong><i class="material-icons left">info</i> Fecha:</strong> {{ venta.fecha|date("d/m/Y") }} </li> 
 <li class="collection-item"><strong><i class="material-icons left">info</i> Estado:</strong> {{ venta.estado }} </li> 
 <li class="collection-item"><strong><i class="material-icons left">attach_money</i> Total a Pagar:</strong> ${{ venta.precio }}</li>   
 <li class="collection-header"><h5>Articulos</h5></li>  

 {# Si el carrito tiene productos los muestros #}    
    {% if venta.getArticulos()|length > 0 %}        
        <table>
        <thead class="grey white-text">
         <tr>
         <td><strong>Producto</strong></td>
         <td><strong>Codigo</strong></td>
         <td><strong>Precio Unitario</strong></td>
         <td><strong>Cantidad</strong></td>         
         <td></td>
         <td><strong>Monto</strong></td>
         </tr>
        </thead>
        <tbody>
        {% for productoCarrito in venta.getArticulos() %} 
        <tr class="grey lighten-4">
         <td><strong><i class="material-icons left">add_shopping_cart</i>{{ productoCarrito.producto.nombre }}</strong></td>
         <td>{{ productoCarrito.producto.codigo }}</td>
         <td>${{ productoCarrito.producto.precio }}</td>
         <td>{{ productoCarrito.cantidad }}</td>          
         <td>${{ productoCarrito.getMonto() }}</td>         
        </tr>        
        {% endfor %}
        </tbody>
        </table>

    {% else %}
     <li class="collection-item"><strong><i class="material-icons left">shopping_cart</i>No hay productos en esta venta</strong></li>
    {% endif %}

</ul>
<!-- Datos de la Venta -->