{% extends 'base.html.twig' %}

{% block contenido %} 
    
<!-- Acciones del Producto -->
    {% if app.user %}
        {% if producto.stock > 0 %}
            <div class="row">
                <ul class="collection">
                    <li class="collection-item grey lighten-3">
                     <a href="{{ path('carritoproductos_agregar',{'idProducto': producto.id}) }}" class="waves-effect waves-light btn colorOficial white-text"><i class="material-icons left">add_shopping_cart</i>Comprar</a> 
                       
                        {% if is_granted('ROLE_ADMIN') %}
                         <a href="{{ path('producto_editar',{'idProducto': producto.id}) }}" class="waves-effect waves-light btn colorOficial white-text"><i class="material-icons left">edit</i>Editar</a> 
                        {% endif %}
                    </li>
                </ul>
            </div>
        {% endif %}
    {% endif %}
<!-- Acciones del Producto -->

{% include "default/bannerMensaje.html.twig" with { 'mensaje' : producto.nombre  } %}
    
<!-- Muestro el Producto -->
<div class="row">

    <!-- Detalles de Producto -->   
    <div class="col s6">
        <ul class="collection">             
         <li class="collection-item"><strong><i class="material-icons left">assignment</i> Producto:</strong> {{ producto.nombre }} </li> 
         <li class="collection-item"><strong><i class="material-icons left">confirmation_number</i> Codigo Producto:</strong> {{ producto.codigo }}</li>   
         <li class="collection-item"><strong><i class="material-icons left">attach_money</i> Precio Unitario:</strong> ${{ producto.precio }} </li>
         
            {% if producto.stock > 0 %}
             <li class="collection-item light-green accent-3"><strong><i class="material-icons left">av_timer</i> Stock:</strong> {{ producto.stock }} Unidades </li>
            {% else %}
             <li class="collection-item red lighten-1"><strong><i class="material-icons left">av_timer</i> Stock:</strong> {{ producto.stock }} Unidades </li>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}

                {% if producto.activo == true %}  
                 <li class="collection-item light-green accent-3"><strong><i class="material-icons left">info</i> 多Esta a la Venta?: SI</strong> </li>     
                {% else %} 
                 <li class="collection-item red lighten-1"><strong><i class="material-icons left">info</i> 多Esta a la Venta?: NO</strong> </li>     
                {% endif %}

                {% if producto.destacado == true %} 
                 <li class="collection-item light-green accent-3"><strong><i class="material-icons left">info</i> 多Producto Destacado?: SI</strong> </li>     
                {% else %} 
                 <li class="collection-item"><strong><i class="material-icons left">info</i> 多Producto Destacado?: NO</strong> </li>     
                {% endif %}

            {% endif %}
         <li class="collection-item"><strong><i class="material-icons left">art_track</i> Categorias:</strong> </li>
        </ul>
    </div>
    <!-- Detalles de Producto -->

    <!-- Imagen del Producto -->
    <div class="col s6">       
        {% if producto.getImagenes()|length > 0 %}
         {% set imagen = producto.getImagenes()|first %}
         <img class="responsive-img" src="{{ asset(imagen.url) }}">             
        {% else %}
         <img class="responsive-img" src="{{ asset('img/imagen-no-disponible.png') }}">
        {% endif %} 
    </div>
    <!-- Imagen del Producto -->

    <!-- Descripcion del Producto -->
    <div class="col s12">
        <ul class="collection with-header">
         <li class="collection-header"><h5>Descripcion del Producto</h5></li>
         <li class="collection-item"><strong><i class="material-icons left">info</i> Descripcion:</strong> {{ producto.descripcion }}</li>     
         <li class="collection-item"><strong><i class="material-icons left">info</i> Detalle:</strong> {{ producto.descripcionCompleta }}</li>     
        </ul>
    </div>
    <!-- Descripcion del Producto -->
        
</div>
<!-- Muestro el Producto -->    


<!-- Galeria del Producto -->
    {% if producto.getImagenes()|length > 0 %}
     {% include "producto/sliderProducto.html.twig"  with { 'producto': producto ,'mensaje' : 'Galeria del Producto'  } %}
    {% endif %} 
<!-- Galeria del Producto -->

<!-- Botones de Direccionamiento -->
<div class="offset-s2 col s8 offset-s2">
    <center>        
        <a href="{{ path('producto') }}" class="waves-effect waves-light btn colorOficial white-text">
         <i class="material-icons left">assignment</i>Volver 
        </a> 
        <a href="{{ path('index') }}" class="waves-effect waves-light btn colorOficial white-text">
         <i class="material-icons left">home</i>Volver al Home
        </a> 
    </center>
</div>
<!-- Botones de Direccionamiento -->

<br>
<br>

{% endblock %}

