
{{ form_start(form) }}

{% for f in form %}
    
    {# Obtengo el tipo de entrada de datos para renderizarlo correctamente#}
    {% set tipoInput = f.vars.attr|last %}

        {% if tipoInput == "checkbox" %}
           
            <div class="input-field col s12"> 
             <br>              
                <label>
                 {{ form_widget(f) }}
                 <span>{{f.vars.label}}</span>
                </label> 
             <br>            
            </div>
        {% else %}    
            {% if tipoInput != "button" %}
             <div class="input-field col s12">{{f.vars.label}}{{ form_widget(f) }}</div>
            {% else %}
             <div class="input-field col s12">{{ form_widget(f) }}</div>
            {% endif %} 
        {% endif %}       
{% endfor %}

{{ form_end(form) }}