{% extends 'base.html.twig' %}

{% block contenido %} 
    
{% include "default/bannerMensaje.html.twig" with { 'mensaje' : 'Mensajes de Configuracion'  } %}

<div class="row">
<table id="tabla" class="striped centered">
    <thead class="colorOficial white-text">
        <tr>
         <th>ID</th>         
         <th>Tipo</th>
         <th>Activo</th>
         <th>Mensaje</th>
         <th>Acciones</th>
        </tr>
    </thead>
    <tbody class="cyan lighten-5">
        {% for configuracion in configuraciones %}             
            <tr>
             <td>{{ configuracion.id }}</td>             
             <td>{{ configuracion.tipo }}</td>
             <td>{% if configuracion.activo %} SI {% else %} NO {% endif %}</td>
             <td>{{ configuracion.mensaje }}</td>             
                <td>            
                 <a href="{{ path('configuracion_ver',{'idConfiguracion': configuracion.id}) }}" class="btn-floating btn-small waves-effect waves-light teal lighten-2 white-text" title="Editar"><i class="material-icons">pageview</i></a>
                 <a href="{{ path('configuracion_editar',{'idConfiguracion': configuracion.id}) }}" class="btn-floating btn-small waves-effect waves-light teal lighten-2 white-text" title="Categorizar"><i class="material-icons">edit</i></a>
                </td>         
          </tr>
        {% endfor %}
    </tbody>
</table>
</div>
   

<br>

<!-- Botones de Direccionamiento -->
<div class="offset-s2 col s8 offset-s2">
    <center>
        <a href="{{ path('user') }}" class="waves-effect waves-light btn-small colorOficial white-text">
          <i class="material-icons left">arrow_back</i>Volver
        </a> 
    </center>
</div>
<!-- Botones de Direccionamiento -->

<br>
<br>

{% endblock %}

