{% extends 'base.html.twig' %}
 
          
{% block contenido %}

<div class="separadorMain">  

  {% include "default/bannerMensaje.html.twig" with { 'mensaje' : 'Mi Perfil'  } %}

  <!-- Caja de Datos del Usuario -->
  <div class="col s12">
    <ul class="collection with-header">
      <li class="collection-header"><h6>Perfil de Usuario {{usuario}}</h6></li>
      <li class="collection-item"><strong><i class="material-icons left">person</i>Usuario: </strong> {{ usuario.username }}</li>
      <li class="collection-item"><strong><i class="material-icons left">email</i>Mail: </strong> {{ usuario.mail }}</li>
      <li class="collection-item">
        {% if usuario.roles[0] == "ROLE_ADMIN" %}
         <strong><i class="material-icons left">verified_user</i>Rango:</strong> Administrador
        {% endif %}
        {% if usuario.roles[0] == "ROLE_USER" %}
         <strong><i class="material-icons left">person</i>Rango:</strong> Usuario
        {% endif %}
      </li>
      
      <!-- Direccion -->
      <li class="collection-header"><h6>Datos de Usuario</h6></li>
      {% if usuario.getDireccion() %}
       <li class="collection-item"><strong><i class="material-icons left">info</i>Calle: </strong> {{ usuario.direccion.calle }} - Nro {{ usuario.direccion.numero }} </li>
       <li class="collection-item"><strong><i class="material-icons left">info</i>Entre Calles:</strong> {{ usuario.direccion.entrecalle1 }} y {{ usuario.direccion.entrecalle2 }} </li>
       <li class="collection-item"><strong><i class="material-icons left">info</i>Codigo Postal:</strong> {{ usuario.direccion.codigopostal }}</li>
       <li class="collection-item"><strong><i class="material-icons left">info</i>Localidad:</strong> {{ usuario.direccion.ciudad }}</li>
       <li class="collection-item"><strong><i class="material-icons left">info</i>Provincia:</strong>{{ usuario.direccion.provincia }}</li>
      {% else %}
       <li class="collection-item"><strong><i class="material-icons left">info</i> No se ha registrado direccion de envio </strong></li>
      {% endif %}
      <!-- Direccion -->
      
      <!-- Botonoes -->
      <li class="collection-item grey lighten-2">
        <a href="{{ path('user_editar_mail') }}" class="waves-effect waves-light btn-small colorOficial white-text">
         <i class="material-icons left">edit</i>Actualizar Mail
        </a>  
        <a href="{{ path('user_editar_password') }}" style="margin:5px;" class="waves-effect waves-light btn-small colorOficial white-text">
         <i class="material-icons left">edit</i>Modificar Contraseña
        </a>    
      </li>    
      <!-- Botonoes -->
       
    </ul>     
  </div>   
  <!-- Caja de Datos del Usuario -->
 
 <br>

  <!-- Si es administrador le doy acceso al panel -->
  {% if is_granted('ROLE_ADMIN') %}
   {% include "default/administracion.html.twig" %}
  {% endif %}
  <!-- Si es administrador le doy acceso al panel -->

  <!-- Botones de Direccionamiento -->
  <div class="offset-s2 col s8 offset-s2">
    <center>
        <a href="{{ path('home') }}" class="waves-effect waves-light btn-small colorOficial white-text">
          <i class="material-icons left">home</i>Volver al Home
        </a> 
    </center>
  </div>
  <!-- Botones de Direccionamiento -->


</div>
{% endblock contenido %}            

