{% extends 'base.html.twig' %}
 
          
{% block contenido %}

<div class="separadorMain">  

  {% include "default/bannerMensaje.html.twig" with { 'mensaje' : 'Mi Perfil'  } %}

  <!-- Caja de Datos del Usuario -->
  <div class="col s12">
    <ul class="collection with-header">      
      <li class="collection-item"><strong><i class="material-icons left">person</i>Usuario: </strong> {{ usuario.username }}</li>
      <li class="collection-item"><strong><i class="material-icons left">email</i>Mail: </strong> {{ usuario.mail }}</li>
      <li class="collection-item">
        {% if usuario.roles[0] == "ROLE_ADMIN" %}
         <strong><i class="material-icons left">verified_user</i>Rango:</strong> Administrador
        {% endif %}
        {% if usuario.roles[0] == "ROLE_USER" %}
         <strong><i class="material-icons left">person</i>Rango:</strong> Usuario
        {% endif %}
      </li>
      <li class="collection-item fondoOficialClaro">
        <a href="{{ path('user_editar_mail') }}" class="waves-effect waves-light btn-small colorOficial white-text">
         <i class="material-icons left">edit</i>Actualizar Mail
        </a>  
        <a href="{{ path('user_editar_password') }}" style="margin:5px;" class="waves-effect waves-light btn-small colorOficial white-text">
         <i class="material-icons left">edit</i>Modificar Contraseña
        </a>    
      </li>     
    </ul>     
  </div>   
  <!-- Caja de Datos del Usuario -->
  
 <br>
 <br>
 <br>

  {% include "default/bannerMensaje.html.twig" with { 'mensaje' : 'Mis Compras'  } %}

  <!-- Ventas del Usuario -->
  {% if usuario.getVentas()|length > 0 %} 
    <ul class="collection with-header">     
      <table>
        <thead class="grey white-text">
         <tr>
         <td><strong>Fecha</strong></td>
         <td><strong>Monto</strong></td>
         <td><strong>Estado</strong></td>   
         <td></td>         
         </tr>
        </thead>
        <tbody>
         {% for venta in usuario.getVentas() %}
         <tr class="grey lighten-4">
         <td>{{ venta.fecha|date("d/m/Y") }}</td>
         <td>{{ venta.precio }}</td>
         <td>{{ venta.estado }}</td>
         <td></td>                       
        </tr>   
         {% endfor %}
        </tbody>
      </table>
    </ul>      
  {% endif %}
  <!-- Ventas del Usuario -->

 <br>
 <br>
 <br>


  {% include "default/bannerMensaje.html.twig" with { 'mensaje' : 'Administracion'  } %}

  <!-- Si es administrador le doy acceso al panel -->
  {% if is_granted('ROLE_ADMIN') %}
  <div class="col s12">
    <ul class="collection with-header" id="listadoPersonas">
      <li class="collection-header"><h6>Panel de Administracion</h6></li>
        <a href="{{ path('abm_usuarios') }}" class="collection-item"><strong><i class="material-icons left">assignment_ind</i>Usuarios del Sistema</strong></a>   
        <a href="{{ path('producto_abm') }}" class="collection-item"><strong><i class="material-icons left">dashboard</i>Gestionar Productos</strong></a>     
        <a href="{{ path('categoria') }}" class="collection-item"><strong><i class="material-icons left">event_note</i>Gestionar Categorias de Productos</strong></a>      
        <a href="{{ path('configuracion') }}" class="collection-item"><strong><i class="material-icons left">message</i>Gestionar Mensajes Configurables</strong></a>                                    
    </ul>
  </div>
  {% endif %}
  <!-- Si es administrador le doy acceso al panel -->
 
 
  <!-- Botones de Direccionamiento -->
  <div class="offset-s2 col s8 offset-s2">
    <center>
        <a href="{{ path('home') }}" class="waves-effect waves-light btn-small colorOficial white-text">
          <i class="material-icons left">home</i>Volver al Home
        </a> 
    </center>
  </div>
  <!-- Botones de Direccionamiento -->


</div>
{% endblock contenido %}            

